
// Body
$body-bg: #f5f8fa;

// Brands
$brand-primary: #F1CA41;
$brand-info: #000000;
$brand-third: #2056C0;
$brand-off: #FFFFFF;


// Typography
$font-family: 'Open Sans Condensed', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

