.innerHeader {
  background-image: url("/img/backblack.jpg");
  background-position: center;
  height: 400px;
  img {
    width: 10%;
    padding: 10px;
  }
  h1 {
    @include heading(70px);
    color: $brand-primary;
  }
}

h2 {
  @include heading(20px);
}

.subpage-header {
  @include heading(70px);
  color: $brand-primary;
  text-align: center;
}

.footer {
  p {
    color: $brand-off;
  }
  .social {
    padding: 0 15px 40px 15px;
    h2 {
      @include heading(17px);
      color: $brand-off;
    }
  }
}